<div>
    <h3>Sample project for Calling API</h3>
    <a href="https://github.com/SKevinPerera/Sample-project-for-API-Angular.git">GitHub Source</a><br>
    <a href="https://jsonplaceholder.typicode.com/">Used API Source</a>
    <p><i><b>By Kevin Perera</b></i></p>
    <hr>
    <p>Albums Collection</p>
    <div class="row">
        <div class="col-sm-4"  *ngFor="let album of albums | async">
            <div class="card">
                <div class="card-body">
                    <a routerLink="photos/{{album.id}}">{{album.title}}</a>
                </div> 
            </div>
        </div>
    </div>
</div>
